@model Market.APIService.Controllers.View1_1PModel
<div class="buttons-tab">
    <a href="#tab1" class="tab-link active button" onclick="hihTab2();">日排名</a>
    <a href="#tab2" class="tab-link button" onclick="showTab2();">月排名</a>
    
</div>
<div class="content-block" style="width:100%;">
    <div class="tabs" style="width:100%">
        <div id="tab1" class="tab active" style="width:100%;">
            <div class="content-block" >
                <input type="date" id="Day" min='@Model.minDay' max='@Model.MaxDay'  value="@Model.MaxDay" onchange="changeValue('1');" >
                &nbsp; &nbsp; &nbsp;
                <select id="bu" onchange="changeValue('1');">
                    @{
                        foreach (var bu in Model.TBuList)
                        {
                            if (bu.isSelected)
                            {
                                <option value="@bu.key" selected="selected">@bu.keyValue</option>
                            }
                            else
                            {
                                <option value="@bu.key">@bu.keyValue</option>
                            }
                        }
                   
                        }
                </select>
            </div>
            <div id="char1" class="content-block" style="width:100%;height:1000px;">
                
            </div>
        </div>
        <div id="tab2" class="tab" style="width:100%">
            <div class="content-block">
                <select id="month" onchange="changeValue('2');" style="width:40%;">
                    @{
                        foreach (var bu in Model.MonthList)
                        {
                            if (bu.isSelected)
                            {
                                <option value="@bu.key" selected="selected">@bu.keyValue</option>
                            }
                            else
                            {
                                <option value="@bu.key">@bu.keyValue</option>
                            }
                        }

                    }
                </select>
                &nbsp; &nbsp; &nbsp;
                <select id="bu2" onchange="changeValue('2');" style="width:40%;">
                    @{
                        foreach (var bu in Model.TBuList)
                        {
                            if (bu.isSelected)
                            {
                                <option value="@bu.key" selected="selected">@bu.keyValue</option>
                            }
                            else
                            {
                                <option value="@bu.key">@bu.keyValue</option>
                            }
                        }

                    }
                </select>
            </div>
            <div id="char2" class="content-block" style="width:100%;height:1000px;">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   
    function changeValue(type)
    {
        
        var bu="";
        if (type == "1") {
            myChart.showLoading();
            bu = $("#bu").val();

        }
        else {
            myChart2.showLoading();
            bu = $("#bu2").val();

        }
        //string month,string day,string bu,string type
        var r = "GetView1DataJson?month=" + $("#month").val() + "&day=" + $("#Day").val() + "&bu=" + bu + "&type=" + type;
        
        $.ajax({
            url: r,
            type: "Get",
            success: function (data) {
               
                if (type == "1") {
                    myChart.hideLoading();

                    //TODO:处理添加新问卷成功后的事件
                    myChart.setOption({
                        yAxis: {
                            data: data.type
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: '达标率',
                            data: data.value
                        }, {
                            // 根据名字对应到相应的系列
                            name: '销售量',
                            data: data.tvalue
                        }]
                    });
                } else {
                    myChart2.hideLoading();

                    //TODO:处理添加新问卷成功后的事件
                    myChart2.setOption({
                        yAxis: {
                            data: data.type
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: '达标率',
                            data: data.value
                        }, {
                            // 根据名字对应到相应的系列
                            name: '销售量',
                            data: data.tvalue
                        }]
                    });
                }

                // $.hidePreloader();

            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.hidePreloader();

                $.toast("操作失败");

            }
        });
    }
    // 基于准备好的dom，初始化echarts实例
    function  showTab2()
    {
        $("#tab2").show();
    }
    function hihTab2() {
        $("#tab2").hide();
    }
    
    $("#tab2").show();
    var myChart = echarts.init(document.getElementById('char1'));
    var myChart2 = echarts.init(document.getElementById('char2'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }, formatter: function (datas) {
                    var res = datas[0].name + '<br/>'

                    for (var i = 0, length = datas.length; i < length; i++) {
                        if (datas[i].seriesName == "达标率") {
                            res += datas[i].seriesName + '：'
                               + datas[i].data + '%<br/>';
                        }
                        else {
                            res += datas[i].seriesName + '：'
                                + datas[i].data + '<br/>';
                        }
                    }
                    return res
                }
            },
            grid: {
                left: '5px',
                right: '5px',
                bottom: '5px',
                containLabel: true
            },
            
            legend: {
                type: 'plain',
            },
            xAxis: [
         {
             type: 'value',
             name: '销售量',
             axisLabel: {
                 formatter: '{value}'
             }

         }, {
             type: 'value',
             name: '达标率',
             axisLabel: {
                 formatter: '{value} %'
             }
         }, ],
            yAxis: {
                data: []
            },
            series: [{
                name: '达标率',
                type: 'bar',
                data: [], xAxisIndex: 1,
                itemStyle: {

                    normal: {

                        color: '#FE939B',
                    }
                }

            },
        {
            name: '销售量',
            type: 'bar',
            data: [],
            itemStyle: {

                normal: {

                    color: '#92BFF6',
                }
            }
            
        }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        myChart2.setOption(option);
        changeValue("1");
        changeValue("2");
        $("#tab2").hide();
        
</script>
